/*
Myers Design Co.
*/

/* COLORS
	
--Grayscale
#000000 (black)
1 - #232323
2 - #3A3A3A
3 - #757575
4 - #BCBCBC
5 - #CCCCCC
6 - #EAEAEA
#ffffff (white)

--Accent Colors
blue - #5198F9
yellow - #fdda7b
gold - #ccaa8f
red - #f37b64
green - #48ae73
*/


/*==========  TYPOGRAPHY  ==========*/

body {
	background-color: black;
	color: #EAEAEA;
}

h1 {
}

h2 { /*project names*/
}

h3 { /*project subtext*/
	color: #BCBCBC;
}

h4 { /*footer headers*/
}

a, a:active, a:visited, .navbar-default .navbar-nav>li>a {
	color: white;
}

a:hover {
}

.hero a {
	border-bottom: 1px solid white;
}

/*==========  STRUCTURE  ==========*/

a.button {
 	border-bottom: 1px solid white;
}

a.button:hover {
	background-color: black;
}

/*==========  NAVIGATION  ==========*/

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>li>a {
	color: #BCBCBC;
}

.navbar-default .navbar-nav>li>a:hover {
	color: white;
}

.navbar-left a {
	background-color: black;
	border-bottom: none;
	color: black;
}

.navbar-left a:hover {
	background-color: black;
	border-bottom: none;
}

/*==========  Portfolio  ==========*/


/*==========  Footer ==========*/

.footer {
	background-color: #232323;
	color: white;
}

.footer a {
 	border-bottom: 1px solid white;
	color: white;
}