/*==========  TYPOGRAPHY  ==========*/

body {
	background-color: #242120;
	color: #BAB6B1;
}

h1 {
}

h2 { /*project names*/
}

h3 { /*project subtext*/
	color: #BCBCBC;
}

h4 { /*footer headers*/
}

a, a:active, a:visited, .navbar-default .navbar-nav>li>a {
	color: white;
}

a:hover {
	color: #0F4BF1;
}

.hero a {
	border-bottom: 1px solid white;
}


/*==========  NAVIGATION  ==========*/

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>li>a {
	color: #242120;
}

.navbar-default .navbar-nav>li>a:hover {
	color: white;
}

.navbar-left a {
	background-color: #242120;
	border-bottom: none;
	color: #242120;
}

.navbar-left a:hover {
	background-color: #242120;
	border-bottom: none;
}

/*==========  Portfolio  ==========*/


/*==========  Footer ==========*/

.footer {
	color: white;
}

.footer a {
 	border-bottom: 1px solid white;
	color: white;
}