/*
Myers Design Co.
*/

/*==========  Structure  ==========*/

body {
	font-family: "Courier Prime";
	font-weight: 400;
	font-size: 21px;
	line-height: 1.7em; 
	letter-spacing: 0.01em;
	color: #45423f;
	max-width: 800px;
	padding: 30px;
	margin: 0px auto;
}

header, article, figure, footer {
	padding: 30px 0px;
}

.mobilehide {
	display: none;
}

.mobileshow {
	display: block;
}

/*==========  Typography  ==========*/

h1 { /*homepage titles*/
	font-size: 1em;
	font-weight: 700;
	margin: 40px 0px;
	color: #45423f;
}

h2 { /*portfolio project title*/
	font-weight: 700;
	font-size: 2em;
	margin-top: 25px;
}

h3 { /*portfolio project classification*/
	font-weight: 400;
	font-size: 1em;
	font-style: italic;
	margin-top: 0px;
	color: #c9c9c9;
}

p {
	margin-block-end: 1em;
}

a, a:active, a:visited, a:focus .navbar-default .navbar-nav>li>a {
 	color: #45423f;
	border-bottom: 1.75px solid #45423f;
 	font-weight: 400;
	text-decoration: none;
	transition: color .4s, border-bottom .4s;	
}

a:hover, .navbar-default .navbar-nav>li>a:hover {
	color: #0074FD;
	border-bottom: 1.75px solid #0074FD;
	text-decoration: none;
}

.nounderline, .nounderline:hover {
	border-bottom: none;
}

/*==========  Navigation and Hero  ==========*/

.logo {
	width: 50px;
	margin-left: 2px;
	margin-bottom: 50px;
	rotate: 90deg;
}

.backarrow {
	padding: 25px 0px;
}

/*==========  Interior Pages  ==========*/

figure {
	width: 100%;
	margin: 30px auto;
}

figure img {
	width: 100%;
}

figcaption {
	line-height: 1.4em;
	font-style: italic;
	font-size: 0.8em;
	margin-top: 20px;
	color: #828282;
}

.archivologos {
	filter: brightness(0) saturate(100%) invert(0%) sepia(4%) saturate(0%) hue-rotate(337deg) brightness(100%) contrast(107%);
}

.archivelist {
	font-size: 0.8em;
	line-height: 1.5em;
	margin-top: 25px;
}

ol {
	-webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    padding-inline-start: 0px;
    column-gap: 1.5em;
    list-style-position: inside;
}

/*==========  Media Queries  ==========*/

/* Larger than mobile */
@media (min-width: 400px) {

	body {
		padding: 20px 0px;
	}

	.backarrow {
		padding-bottom: 75px;
	}

	ol {
		-webkit-column-count: 2;
	    -moz-column-count: 2;
	    column-count: 2;
	}

	.archivelist {
		font-size: 0.5em;
	}

	figure {
		margin: 60px auto;
	}

}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {

	.mobilehide {
		display: block;
	}

	.mobileshow {
		display: none;
	}

}

/* Larger than tablet */
@media (min-width: 750px) {

	body {
		padding: 100px 0px;
	}
	
	ol {
		-webkit-column-count: 3;
	    -moz-column-count: 3;
	    column-count: 3;
	}	

}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
/*
body {
	background-color: #131414;
	color: #AAB2BD;
}

h1, h2 {
	color: white;
}

h3, figcaption {
	color: #696969;
}

h1, h2, h3, figcaption {
}

a, a:active, a:visited, a:focus .navbar-default .navbar-nav>li>a {
 	color: white;
	border-bottom: 1.5px solid white;
}

a:hover, .navbar-default .navbar-nav>li>a:hover {
	color: #0074FD;
	border-bottom: 1.5px solid #0074FD;
}
*/
