/*
Myers Design Co.

Colors
Gray 1 - E9E9E9
Gray 2 - C7C6C6
Gray 3 - 5F5B5B
Gray 4 - 2D2D2D

Gold - CBA98E
Red - F27B64
Yellow - EFCA6E
Blue - 336BEB
*/

/*==========  Structure  ==========*/

body {
	background-color: #f5f3f3;
	background-image: none;
	color: #6a6969;
	max-width: 550px;
	padding: 25px;
  	overflow-y: scroll;
  	scrollbar-gutter: stable;	
	font-family: "Basier";
	font-weight: 400;
	font-size: 18x;
	line-height: 1.8em; 
}

header {
	margin-top: 10px;
	margin-bottom: 100px;
}

section {
	margin-top: 10px;
	margin-bottom: 50px;
}

header a, header a:visited {
	color: #9c9c9c;
}

.headerlogo {
	width: 60px;
	margin-bottom: 100px;
	margin-left: -10px;
}

.grid {
	display: grid;
 	grid-template-columns: 1fr;
 	margin-bottom: 24px;
}

.mobilehide {
	display: none;
}

.mobileshow {
	display: block;
}

/*==========  Typography  ==========*/

h1 {
	color: #9c9c9c;
	font-weight: 400;
	font-size: 1em;
}

h2 {
	color: black;
	font-weight: 400;
	font-size: 1em;
	margin: 20px 0px;
}

h3 {
	font-weight: 400;
	font-style: italic;
	margin-top: 0px;
	color: #6a6969;
}

h4 {
	font-size: 1em;
	font-weight: 400;
	margin-top: 0px;
}

p {
	font-size: 1.05em;
	margin-block-end: 1em;
	color: #6a6969;
}

a, a:active, a:visited, a:focus {
 	color: #2D2D2D;
 	font-weight: 400;
	text-decoration-thickness: 0.5px;
    text-underline-offset: 0.1em;
    transition: color 500ms;
}

a:hover {
	color: #336BEB;
}

.nounderline, .nounderline:hover {
	border-bottom: none;
	text-decoration: none;
}

strong {
	color: black;
	font-weight: 400;
}

/*==========  Interior Pages  ==========*/

figure {
	width: 100%;
	margin: 75px auto;
}

figure img {
	width: 100%;
	border-radius: 10px;
}

figcaption {
	font-family: "Courier Prime";
	font-style: italic;
	font-size: 0.8em;
	line-height: 1.4em;
	font-style: italic;
	margin-top: 20px;
	color: #5F5B5B;
}

.logogrid {
	display: grid;
 	grid-template-columns: 1fr 1fr 1fr;
}

.logogrid figure {
	margin-top: 25px;
}

.archivologos {
	filter: brightness(1) saturate(100%) invert(0%) sepia(4%) saturate(0%) hue-rotate(337deg) brightness(80%) contrast(107%);
}

/*==========  Media Queries  ==========*/

@media (min-width: 400px) {

	body {
		font-size: 16px;
		padding: 50px;
	}

	.logo {
		margin-bottom: 40px;
	}

	.backarrow {
		padding-bottom: 75px;
	}

}

@media (min-width: 550px) {

	.mobilehide {
		display: block;
	}

	.mobileshow {
		display: none;
	}

	.grid {
		grid-template-columns: 1fr 3fr;
		margin-bottom: 12px;
	}

}

@media (min-width: 750px) {

	body {
		/*background-image: url(/img/logos/MDC_SiteBackground.svg);
    	background-position: top right;
    	background-repeat: no-repeat;*/
    	padding: 70px;
	}

}

@media (min-width: 1000px) {}
@media (min-width: 1200px) {}

/*Dark Mode*/

body {
	background-color: #141414;
	color: #b0b0b0;
}

h1, h3, figcaption {
	color: #797979;
}

h2, h4, strong {
	color: #F8F6F5;
}

a, a:active, a:visited, a:focus .navbar-default .navbar-nav>li>a {
 	color: #F8F6F5;
}

a:hover, .navbar-default .navbar-nav>li>a:hover {
	color: #0074FD;
}

header a, header a:visited {
	color: #797673;	
}

p {
	color: #b0b0b0;
}
