/*
Myers Design Co.
*/

/*==========  Typography  ==========*/

body {
	font: 400 22px/1.7em "Be Vietnam";
	font-feature-settings: 'ss01';
	background-color: #D9D9D9;
	color: #45423f;
}

h1 {
	font-size: 1em;
	color: black;
	font-weight: 700;
	margin-top: 50px;
	margin-bottom: 20px;
}

h2 {
	font-size: 2em;	
	color: black;
	font-weight: 900;
	margin-top: 25px;
}

h3 {
	font-size: 0.8em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	margin-top: 0px;
	color: white;
}

a, a:active, a:visited, a:focus .navbar-default .navbar-nav>li>a {
 	color: black;
	text-decoration: none;
	transition: color .3s;
	font-weight: 700;
}

a:hover, .navbar-default .navbar-nav>li>a:hover {
	color: #E2FF00;
	text-decoration: none;
}

.strong {
	font-weight: 700;
	color: black;
}

/*==========  Structure  ==========*/

.mobilehide {
	display: none;
}

/*==========  Tables  ==========*/

.tablelabel {
	font-size: 1em;
	color: #45423f;
	margin-bottom: 5px;
}

.tabledata {
	font-size: 1em;
	color: #45423f;
	margin-top: 0px;
	margin-bottom: 5px;
}

.tabledata a {
	background-color: white;
	padding: 4px 6px;
	border-radius: 3px;
	transition: background-color .3s;
}

.tabledata a:hover {
	background-color: #E2FF00;
	color: black;
}

/*==========  Navigation and Hero  ==========*/

.logo {
	width: 80px;
	margin-left: -10px;
}

i {
	padding-top: 25px;
}

/*==========  Interior Pages  ==========*/

.portfolioheader {
	margin-top: 50px;
	margin-bottom: 20px;
}

figure {
	width: 100%;
	margin: 70px auto;
}

figure img {
	width: 100%;
}

figcaption {
	line-height: 1.4em;
	font-size: 0.75em;
	margin-top: 20px;
	color: #828282;
}

.archivelist {
	font-size: 0.8em;
	line-height: 1.5em;
	margin-top: 25px;
}

ol {
	-webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    padding-inline-start: 14px;
    column-gap: 1.5em;
}


/*==========  Media Queries  ==========*/

/* Larger than mobile */
@media (min-width: 400px) {

	body {
		font-size: 18px;
		padding: 75px 0px;
	}

	.logo {
		width: 60px;
	}

	i {
		padding-bottom: 75px;
	}

	ol {
		-webkit-column-count: 2;
	    -moz-column-count: 2;
	    column-count: 2;
	}

	.archivelist {
		font-size: 0.5em;
	}

}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {

	.mobilehide {
		display: block;
	}

	.tabledata {
		margin-bottom: 0px;
	}

	ol {
		-webkit-column-count: 3;
	    -moz-column-count: 3;
	    column-count: 3;
	}	

}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


