:root {
	--blue: #336BEB;
	--yellow: #EFCA6E;
	--gold: #CBA98E;
	--red: #F27B64;
	--subtle: #bbbbbb;
	--deemphasized: #727272;
	--neutral: #5F5B5B;
	--emphasized: #000000;
	--sans: "Montserrat";
	--serif: "Lora";
	--mono: "Courier Prime";
}

/*==========  Structure  ==========*/

html {
	background-color: none;
}

body {
	font-family: var(--serif);
	color: var(--emphasized);
	background-color: white;
	font-weight: 400;
	max-width: 650px;
	padding: 20px 56px 20px 20px;
	font-size: 12px;
	line-height: 1.6em; 
}

header, section {
	margin-bottom: 2.5em;
}

.headerlogo {
	width: 30px;
	margin-top: 5px;
	margin-bottom: 50px;
}

.nav {
	margin-top: 0px;
}

.nav a {
	font-family: var(--sans);
	color: var(--deemphasized);
	font-size: 1em;
	padding-right: 20px;
	font-weight: 500;
}

header a, header a:visited {
	color: var(--deemphasized);	
	font-weight: 400;
}

.portfoliolinks a, .portfoliolinks a:visited, .portfoliolinks {
	color: var(--emphasized);
	font-family: var(--sans);
	font-weight: 400;
	font-size: 1em;
}

.grid {
	display: grid;
 	grid-template-columns: 1fr 2fr;
 	margin-bottom: 24px;
}

.label {
	font-family: var(--sans);
	color: var(--deemphasized);
	font-size: 0.8em;
	text-transform: uppercase;
	font-weight: 700;
}

.title {
	color: var(--deemphasized);
}

.rowbreak {
	margin-bottom: 30px;
}

.mobilehide {
	display: none;
}

.mobileshow {
	display: block;
}

/*==========  Typography  ==========*/

h1, h2, h3 {
	font-size: 1em;
}

h1, h2 {
	font-family: var(--sans);	
	color: var(--emphasized);
	font-weight: 700;
}

h1 {
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 0.08em;
}

header {
	font-family: var(--sans);
}

header h1 {
	margin-top: 0px;
}

h2 {
	margin-top: 2em;
	margin-bottom: 0.5em;
}

h3 {
	color: var(--deemphasized);
	font-weight: 400;
	margin-top: 0px;
}

p {
	color: var(--emphasized);
	font-family: var(--serif);
	font-size: 1.2em;
	margin-block-end: 1em;
}

a, a:active, a:visited, a:focus {
 	color: var(--emphasized);
 	font-weight: 400;
	text-decoration-thickness: 2px;
    text-underline-offset: 0.2em;
    text-decoration-color: #EAE5E2;
    transition: color 500ms;
}

a:hover {
	color: var(--gold);
}

.nounderline, .nounderline:hover {
	border-bottom: none;
	text-decoration: none;
}

strong {
	color: var(--emphasized);
	font-weight: 400;
}

/*==========  Interior Pages  ==========*/

figure {
	width: 100%;
	margin: 75px auto;
}

figure img {
	width: 100%;
	border-radius: 10px;
}

figcaption {
	color: var(--deemphasized);
	font-family: var(--mono);
	font-style: italic;
	font-size: 0.8em;
	line-height: 1.4em;
	margin: 10px 20px 0px 20px;
}

.logogrid {
	display: grid;
 	grid-template-columns: 1fr 1fr 1fr;
}

.logogrid figure {
	margin-top: 25px;
}

.archivologos {
	filter: brightness(0) saturate(100%) invert(0%) sepia(4%) saturate(0%) hue-rotate(337deg) brightness(80%) contrast(107%);
}

/*==========  Media Queries  ==========*/

@media (min-width: 400px) {

	body {
		padding: 50px;
	}

	header {
		margin: 0px 0px 75px 0px;
	}

	.headerlogo {
		width: 45px;
		margin-bottom: 150px;
	}

	h2 {
		margin-top: 40px;
	}

	.herotext {
		font-size: 4em;
	}

	.nav a {
		font-size: 1em;
	}

	section {
		margin-bottom: 75px;
	}

}

@media (min-width: 550px) {

	.mobilehide {
		display: block;
	}

	.mobileshow {
		display: none;
	}

	.grid {
		margin-bottom: 12px;
		column-gap: 1em;
	}

}

@media (min-width: 750px) {

	body {
    	padding: 75px 175px 75px 75px;
	}

}

@media (min-width: 1000px) {}
@media (min-width: 1200px) {}

/*Dark Mode
:root {
	--deemphasized: #9c9c9c;
	--neutral: #e8e8e8;
	--emphasized: #F8F6F5;
}

body {
	background-color: #141414;
	color: var(--neutral);
}

h1, h3, figcaption {
	color: var(--neutral);
}

h2 {
	color: var(--yellow);
}

h1, strong, p, .label, a, a:active, a:visited, a:focus, header a:hover, .portfoliolinks a:hover {
	color: var(--emphasized);
}

.portfoliolinks a, .portfoliolinks a:visited, .portfoliolinks {
	color: var(--neutral)
}

a:hover {
	color: var(--yellow);
}

header a, header a:visited {
	color: var(--deemphasized);	
}

.archivologos {
	filter: brightness(1) saturate(100%) invert(0%) sepia(4%) saturate(0%) hue-rotate(337deg) brightness(80%) contrast(107%);
}
*/
