/*
Myers Design Co.
*/

/*==========  Structure  ==========*/

body {
	font: 400 23px/1.7em "Chivo";
	font-feature-settings: "ss01";
	background-color: #f2f2f2;
	color: #45423f;
	padding: 40px 0px;
}

.container {
	border: none;
	width: 95%;
	max-width: 1100px;
}

.mobilehide {
	display: none;
}

.mobileshow {
	display: block;
}

.floatright {
	text-align: right;
}

hr {
	margin-top: 1em;
	margin-bottom: 1.5em;
	border-top: 2px solid white;
}

/*==========  Typography  ==========*/

h1 { /*homepage name*/
	font-size: 1em;
	font-weight: 700;
	margin-top: 0px;
	color: #45423f;
}

h2 { /*portfolio project title*/
	font-size: 2em;
	font-weight: 900;
	margin-top: 25px;
}

h3 { /*portfolio project classification*/
	font-size: 0.8em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	margin-top: 0px;
	color: #c9c9c9;
}

p {
	margin-block-end: 0.35em;
}

.iso {
	margin-top: 40px;
	margin-bottom: 20px;
}

a, a:active, a:visited, a:focus .navbar-default .navbar-nav>li>a {
 	color: #45423f;
 	font-weight: 700;
	text-decoration: none;
	transition: color .4s, border-bottom .4s;
	border-bottom: 2px solid #45423f;
}

a:hover, .navbar-default .navbar-nav>li>a:hover {
	color: #1c6ced;
	border-bottom: 2px solid #1c6ced;
	text-decoration: none;
}

.nounderline {
	border-bottom: none;
}

/*==========  Navigation and Hero  ==========*/

.logo {
	width: 120px;
	margin-left: -5px;
	margin-bottom: 30px;
}

.backarrow {
	padding: 25px 0px;
}

.topbox {
	background-color: black;
	color: white;
}

.topbox a{
	color: white;
}

/*==========  Interior Pages  ==========*/

figure {
	width: 100%;
	margin: 30px auto;
}

figure img {
	width: 100%;
}

figcaption {
	line-height: 1.4em;
	font-size: 0.7em;
	margin-top: 20px;
	color: #828282;
}

.archivelist {
	font-size: 0.8em;
	line-height: 1.5em;
	margin-top: 25px;
}

ol {
	-webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    padding-inline-start: 0px;
    column-gap: 1.5em;
    list-style-position: inside;
}

/*==========  Media Queries  ==========*/

/* Larger than mobile */
@media (min-width: 400px) {

	.backarrow {
		padding-bottom: 75px;
	}

	ol {
		-webkit-column-count: 2;
	    -moz-column-count: 2;
	    column-count: 2;
	}

	.archivelist {
		font-size: 0.5em;
	}

	figure {
		margin: 60px auto;
	}

	p {
		margin-block-end: 0.6em;
	}

}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {

	body {
		font-size: 18px;
		padding: 100px 0px;
	}

	.container {
		padding: 50px;
		border: 2px solid black
	}

	.mobilehide {
		display: block;
	}

	.mobileshow {
		display: none;
	}

	.iso {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	hr {
		margin-top: 3em;
		margin-bottom: 3.5em;
	}

}

/* Larger than tablet */
@media (min-width: 750px) {

	ol {
		-webkit-column-count: 3;
	    -moz-column-count: 3;
	    column-count: 3;
	}	

}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


