/*
Myers Design Co.
*/

/*==========  Typography  ==========*/

body {
	font: 500 20px/1.7em "Spline Sans";
	background-color: #e8e8e8;
	color: #45423f;
	padding-top: 20px;
	padding-bottom: 20px;
}

h1 {
	font-size: 1em;
	font-weight: 700;
	margin-top: 50px;
}

h2 {
	font-size: 1em;	
	font-weight: 700;
	margin-top: 0px;
}

h3 {
	font-size: 1em;
	font-weight: 500;
	text-align: right;
	margin-top: 0px;
	font-style: italic;
}

a, a:active, a:visited, a:focus .navbar-default .navbar-nav>li>a {
 	color: #45423f;
	text-decoration: none;
	transition: color .3s;
	font-weight: 700;
}

a:hover, .navbar-default .navbar-nav>li>a:hover {
	color: blue;
	text-decoration: none;
}

strong {
	font-weight: 700;
	color: #45423f;
}

/*==========  Structure  ==========*/

.maxwidth {
	max-width: 95%;
	margin: 10px auto; 
	padding: 0px;
}

.fullwidth {
	width: 100%;
	margin: 0px auto;
	padding: 10px;
}

.container {
	padding: 10px 0px;
}

.mobilehide {
	display: none;
}

.mobileonly {
	display: block;
}

.tablethide {
	display: none;
}

.portfolioheader {
	margin-top: 50px;
	margin-bottom: 20px;
}

/*==========  Tables  ==========*/

.tablelabel {
	font-weight: 500;
	font-size: 1em;
	color: #45423f;
	margin-bottom: 0px;
}

.tabledata {
	font-weight: 500;
	font-size: 1em;
	color: #45423f;
	margin-bottom: 25px;
}

/*==========  Navigation and Hero  ==========*/

.navlogo {
	width: 60px;
}

/*==========  Navigation and Hero  ==========*/

figure {
	width: 100%;
	margin: 70px auto;
}

figure img {
	width: 100%;
}

figcaption {
	line-height: 1.4em;
	font-size: 0.75em;
	font-weight: 600;
	margin-top: 20px;
	color: #828282;
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

	body {
		padding-top: 75px;
		padding-bottom: 75px;
	}
	
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	.maxwidth {
		max-width: 700px;
	}

	.mobilehide {
		display: block;
	}

	.mobileonly {
		display: none;
	}

	.tabledata {
		margin-bottom: 0px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

	.tablethide {
		display: block;
	}

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1300px) {


	
}


