/*
Myers Design Co.
*/

/*==========  TYPOGRAPHY  ==========*/

body {
	font: 400 20px/1.7em "Inter";
	background-color: #242120;
	color: #BAB6B1;
	padding-top: 25px;
}

h1 { /*hello!*/
	font-size: 1em;
	font-weight: 700;
	color: white;
	margin-top: 50px;
}

a, a:active, a:visited, a:focus .navbar-default .navbar-nav>li>a {
 	color: #dab187;
	text-decoration: none;
	transition: color .3s;
}

a:hover, .navbar-default .navbar-nav>li>a:hover {
	color: white;
	text-decoration: none;
}

strong {
	font-weight: 700;
	color: white;
}

/*==========  STRUCTURE  ==========*/

.maxwidth {
	max-width: 98%;
	margin: 0px auto; 
	padding: 0px;
}

.fullwidth {
	width: 100%;
	margin: 0px auto;
	padding: 10px;
}

.container {
	padding: 10px 0px;
}

.mobilehide {
	display: none;
}

.mobileonly {
	display: block;
}

.tablethide {
	display: none;
}

table {
	table-layout: fixed;
	width: 100%;
	line-height: 1.4em;
}

th, td {
	vertical-align: top;
	padding-top: 20px;
}

.tablelabel {
	font-weight: 400;
	font-size: 1em;
	color: #bab6b1;
	padding-left: 0px;
	padding-right: 20px;
	width: 40%;
}

.tabledata {
	font-weight: 400;
	font-size: 1em;
	color: white;
}

/*==========  Navigation and Hero  ==========*/

.navlogo {
	width: 60px;
}

/*==========  Footer ==========*/

.footer {
	padding-bottom: 40px;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

	body {
		padding-top: 75px;
		font: 400 18px/1.7em "Chivo";
	}
	
	.tablelabel {
		width: 30%;
	}
	
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	.maxwidth {
		max-width: 700px;
		margin: 10px auto;
	}

	.mobilehide {
		display: block;
	}

	.mobileonly {
		display: none;
	}

	.navigator {
		padding: 0px 0px 10px 0px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

	.tablethide {
		display: block;
	}

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1300px) {


	
}


