/*
Myers Design Co.
*/

/* COLORS
	
--Grayscale
#000000 (black)
#ffffff (white)

--Accent Colors
blue - #5198F9
yellow - black
gold - black
red - black
green - #48ae73
*/


/*==========  TYPOGRAPHY  ==========*/

body {
	font: 400 15px/21px "Chivo";
	background-color: #f5f5f5;
	color: #3d3d3d;
}

h1 { /*keep it clean*/
	font-size: 1em;
	font-weight: 900;
	margin-bottom: 0.34em;
}

h2 { /*project names*/
	font-weight: 400;
	margin-bottom: 20px; padding-top: 4px;
}

h3 { /*project subtext and footer headers*/
	font-size: 0.75em;
	line-height: 0.5em;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	margin-top: 30px;
}

p {
	line-height: 2em;
	width: 95%;
}

a, a:active, a:visited, .navbar-default .navbar-nav>li>a {
	text-decoration: none;
	color: #3d3d3d;
	transition: color .25s;
	font-weight: 400;
}

a:hover {
	color: black;
	border-bottom: 1px solid black;
}

li {
	display: inline-block;
	margin-right: 20px;
}

strong {
	font-weight: 700;
}

/*==========  STRUCTURE  ==========*/

.maxwidth {
	max-width: 95%;
	margin: 0px auto; 
	padding: 0px;
}

.fullwidth {
	width: 100%;
}

.container {
	padding: 10px 0px;
}

.padding-0 {
	padding: 0;
}

.mobilehide {
	display: none;
}

.mobileonly {
	display: block;
}

.tablethide {
	display: none;
}

a.button {
	font: 400 1em/1em "Chivo";
  	text-decoration: none;
  	display: inline-block;
 	border-bottom: 1px solid #232323;
	padding-bottom: 1px;
	margin-top: 15px;
}

a.button:hover {
	color: black;
 	border-bottom: 1px solid black;
}

/*==========  Navigation and Hero  ==========*/

.hero {
	margin-top: 30px;
}

.hero a {
	font: 400 1em/1em "Chivo";
  	text-decoration: none;
 	border-bottom: 1px solid #232323;
	padding-bottom: 1px;
}

.hero a:hover {
	color: black;
	border-bottom: 1px solid black;
}

.navigator {
	padding: 10px 10px 0px 0px;
}

.navbar {
	border: none;
	border-radius: 0px;
	margin: 10px auto 10px auto;
}

.navbar-collapse {
	padding: 0px;
	margin: 0px auto;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0;
}

.navbar-toggle {
    z-index:3;
    margin-right: 0px;
    padding-right: 0px;
}

.navbar-default .navbar-toggle {
	border: 0;
}

.navbar-default {
	background-color: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>li>a {
	transition: color .25s;
	text-decoration: none;
	border-bottom: none;
}

.navbar-default .navbar-nav>li>a:hover {
	color: black;
}

.navlogo {
	width: 60px;
	margin-top: -70px;
	margin-left: 5px;
}

.navbar-left a {
	border-bottom: none;
}

.navbar-left a:hover {
	border-bottom: none;
	text-decoration: none;
}

/*==========  Content  ==========*/

.portfolio {
	margin: 30px 0px;
}

.portfolio a {
	font-weight: 400;
}

.portfolio a:hover {
	border-bottom: none;
	text-decoration: none;
	color: black;
}

.portfolio img {
	width: 100%;
}

/*==========  Footer ==========*/

.footer {
	padding: 30px 0px 60px 0px;
}

.footer a {
 	border-bottom: 1px solid #3a3a3a;
	padding-bottom: 1px;
}

.footer a:hover {
	color: black;
	border-bottom: 1px solid black;
	text-decoration: none;
}

.footer li {
	display: inline;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	.mobilehide {
		display: block;
	}

	.mobileonly {
		display: none;
	}

	.maxwidth {
		max-width: 90%;
		margin: 10px auto;
	}

	.second-column {
		margin-top: 0px;
	}

	.navigator {
		padding: 10px 0px;
	}

	h2 {
		margin-top: 0px;
	}

    .navlogo {
		width: 75px;
		margin-top: -5px; margin-left: -20px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

	.tablethide {
		display: block;
	}

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1300px) {


	
}