/*
Myers Design Co.

Colors
Gray 1 - E9E9E9
Gray 2 - C7C6C6
Gray 3 - 5F5B5B
Gray 4 - 2D2D2D

Gold - CBA98E
Red - F27B64
Yellow - EFCA6E
Blue - 336BEB
*/

/*==========  Structure  ==========*/

body {
	font-family: "Lora";
	font-weight: 400;
	font-size: 18px;
	line-height: 1.8em; 
	background-color: white;
	color: #2D2D2D;
	max-width: 600px;
	padding: 25px;
	margin: 0px auto;
}

header {
	margin-top: 10px;
	margin-bottom: 100px;
}

section {
	margin-bottom: 50px;
}

.grid {
	font-family: "Basier";
	display: grid;
 	grid-template-columns: 1fr;
 	margin-bottom: 24px;
}

.mobilehide {
	display: none;
}

.mobileshow {
	display: block;
}

/*==========  Typography  ==========*/

h1 {
	font-family: "Basier";
	font-weight: 400;
	font-size: 1em;
	margin-bottom: 30px;
}

h2 {
	font-family: "Basier";
	font-weight: 400;
	font-size: 1em;
	margin: 20px 0px;
}

h3 {
	font-weight: 400;
	font-family: "Lora";
	font-size: 0.8em;
	font-style: italic;
	margin-top: 0px;
	color: #5F5B5B;
}

h4 {
	font-size: 1em;
	font-family: "Basier";
	font-weight: 400;
	margin-top: 0px;
}

p {
	font-size: 1.05em;
	margin-block-end: 1em;
}

a, a:active, a:visited, a:focus {
 	color: #2D2D2D;
 	font-weight: 400;
	text-decoration-thickness: 0.5px;
    text-underline-offset: 0.1em;
    transition: color 500ms;
}

a:hover {
	color: #336BEB;
}

.nounderline, .nounderline:hover {
	border-bottom: none;
}

strong {
	font-weight: 400;
}

/*==========  Navigation and Hero  ==========*/

.logo {
	width: 50px;
	margin: 20px 0px 0px 2px;
	rotate: 90deg;
}

.backarrow {
	padding: 0px 0px 25px 0px;
}

/*==========  Interior Pages  ==========*/

figure {
	width: 100%;
	margin: 75px auto;
}

figure img {
	width: 100%;
	border-radius: 4px;
}

figcaption {
	font-size: 1em;
	font-family: "Lora";
	line-height: 1.4em;
	font-style: italic;
	margin-top: 20px;
	color: #5F5B5B;
}

.archivologos {
	filter: brightness(0) saturate(100%) invert(0%) sepia(4%) saturate(0%) hue-rotate(337deg) brightness(100%) contrast(107%);
}

/*==========  Media Queries  ==========*/

@media (min-width: 400px) {

	body {
		font-size: 15px;
		margin-top: 50px;
	}

	.logo {
		margin-bottom: 40px;
	}

	.backarrow {
		padding-bottom: 75px;
	}

}

@media (min-width: 550px) {

	.mobilehide {
		display: block;
	}

	.mobileshow {
		display: none;
	}

	.grid {
		grid-template-columns: 1fr 3fr;
		margin-bottom: 12px;
	}

}

@media (min-width: 750px) {


}

@media (min-width: 1000px) {}
@media (min-width: 1200px) {}

body {
	background-color: #252120;
	color: #BAB6B1;
}

h1, h3, figcaption {
	color: #797673;
}

h2, h4, strong {
	color: #F8F6F5;
}

a, a:active, a:visited, a:focus .navbar-default .navbar-nav>li>a {
 	color: #F8F6F5;
}

a:hover, .navbar-default .navbar-nav>li>a:hover {
	color: #0074FD;
}