:root {
	--blue: #000000; /*#336BEB;*/
	--yellow: #EFCA6E;
	--gold: #CBA98E;
	--red: #F27B64;
	--deemphasized: #000000; /*#727272;*/
	--neutral: #000000; /*#5F5B5B;*/
	--emphasized: #000000;
	--bold: 600;
	--regular: 400;
	--sans: "roc-grotesk";
	--mono: "courier-prime";
	--serif: "roc-grotesk";
}

/*==========  Structure  ==========*/

body {
	color: var(--emphasized);
	font-weight: var(--regular);
	font-family: var(--sans);
	background-color: white;
	max-width: 700px;
	padding: 15px;
	font-size: 18px;
	line-height: 1.8em; 
}

header {
	margin-top: 0px;
	margin-bottom: 75px;
}

section {
	margin-top: 10px;
	margin-bottom: 75px;
}

header a, header a:visited {
	color: var(--deemphasized);	
}

.portfoliolinks a, .portfoliolinks a:visited, .portfoliolinks {
	color: var(--blue);
}

.headerlogo {
	width: 40px;
	margin-top: 5px;
	margin-bottom: 50px;
}

.grid {
	display: grid;
 	grid-template-columns: 1fr;
 	margin-bottom: 24px;
}

.label {
	font-weight: var(--regular);
	text-transform: uppercase;
	font-size: 0.8em;
}

.title {
	color: var(--deemphasized);
}

.rowbreak {
	margin-bottom: 20px;
}

.mobilehide {
	display: none;
}

.mobileshow {
	display: block;
}

/*==========  Typography  ==========*/

h1, h2, h3 {
	font-size: 1em;
}

h1, h2 {
	font-family: var(--serif);
	font-weight: var(--bold);
}

h1 {
	color: var(--emphasized);
	margin-bottom: -10px;
}

h2 {
	margin: 20px 0px;
}

h3 {
	color: var(--deemphasized);
	font-weight: var(--regular);
	margin-top: 0px;
}

p {
	color: var(--emphasized);
	margin-block-end: 1em;
}

a, a:active, a:visited, a:focus {
 	color: var(--emphasized);
 	font-weight: var(--regular);
	text-decoration-thickness: 1.25px;
    text-underline-offset: 0.3em;
    transition: color 500ms;
}

a:hover {
	color: var(--blue);
}

.nounderline, .nounderline:hover {
	border-bottom: none;
	text-decoration: none;
}

strong {
	color: var(--emphasized);
	font-weight: var(--bold);
}

/*==========  Interior Pages  ==========*/

figure {
	width: 100%;
	margin: 75px auto;
}

figure img {
	width: 100%;
	border-radius: 10px;
}

figcaption {
	color: var(--blue);
	font-family: var(--mono);
	font-style: italic;
	font-size: 0.7em;
	line-height: 1.4em;
	margin-top: 10px;
	margin-left: 20px;
}

.logogrid {
	display: grid;
 	grid-template-columns: 1fr 1fr 1fr;
}

.logogrid figure {
	margin-top: 25px;
}

.archivologos {
	filter: brightness(0) saturate(100%) invert(0%) sepia(4%) saturate(0%) hue-rotate(337deg) brightness(80%) contrast(107%);
}

/*==========  Media Queries  ==========*/

@media (min-width: 400px) {

	:root {
		--regular: 400;
	}


	body {
		padding: 50px;
		font-size: 17px;
	}

	header {
	}

	.headerlogo {
		margin-top: 0px;
		margin-bottom: 125px;
	}

}

@media (min-width: 550px) {

	.mobilehide {
		display: block;
	}

	.mobileshow {
		display: none;
	}

	.grid {
		grid-template-columns: 2fr 3fr;
		margin-bottom: 12px;
		column-gap: 1em;
	}

}

@media (min-width: 750px) {

	body {
    	padding: 100px;
	}

}

@media (min-width: 1000px) {}
@media (min-width: 1200px) {}

/*Dark Mode

:root {
	--deemphasized: #9c9c9c;
	--neutral: #b0b0b0;
	--emphasized: #F8F6F5;
}

body {
	background-color: #141414;
	color: var(--neutral);
}

h1, h3, figcaption {
	color: var(--neutral);
}

h1, strong, p, .label, a, a:active, a:visited, a:focus, header a:hover, .portfoliolinks a:hover {
	color: var(--emphasized);
}

a:hover, .portfoliolinks a, .portfoliolinks a:visited, .portfoliolinks {
	color: var(--blue)
}

header a, header a:visited {
	color: var(--neutral);	
}

.archivologos {
	filter: brightness(1) saturate(100%) invert(0%) sepia(4%) saturate(0%) hue-rotate(337deg) brightness(80%) contrast(107%);
}

*/

