/*
Myers Design Co.
*/

/*==========  Typography  ==========*/

body {
	font: 400 18px/1.7em "Be Vietnam Pro";
	background-color: white;
	color: #45423f;
	padding: 25px 0px;
}

h1 {
	color: black;
	font-size: 1em;
	font-weight: 900;
	margin-top: 20px;
	margin-bottom: 20px;
}

.heroh1 {
	font-size: 1.6em;
	line-height: 1.35em;
	margin-top: 0px;
}

.herorow {
	margin-top: 50px;
	margin-bottom: 30px;
}

h2 {
	font-size: 2em;
	color: black;
	font-weight: 900;
	margin-top: 25px;
}

h3 {
	font-size: 0.8em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	margin-top: 0px;
	color: #828282;
}

a, a:active, a:visited, a:focus .navbar-default .navbar-nav>li>a {
 	color: black;
	text-decoration: none;
	transition: color .3s;
	font-weight: 700;
}

a:hover, .navbar-default .navbar-nav>li>a:hover {
	color: #1c6ced;
	text-decoration: none;
}

.tablelabel {
	color: #45423f;
}

.tabledata {
	color: #45423f;
	margin-top: -10px;
}

i {
	vertical-align: -1px;
}

/*==========  Structure  ==========*/

.mobilehide {
	display: none;
}

/*==========  Navigation and Hero  ==========*/

.logo {
	width: 80px;
	margin-left: -30px;
}

.backarrow {
	padding: 25px 0px;
}

/*==========  Interior Pages  ==========*/

.portfolioheader {
	margin-top: 50px;
	margin-bottom: 20px;
}

figure {
	width: 100%;
	margin: 30px auto;
}

figure img {
	width: 100%;
}

figcaption {
	line-height: 1.4em;
	font-size: 0.7em;
	margin-top: 20px;
	color: #828282;
}

.archivelist {
	font-size: 0.8em;
	line-height: 1.5em;
	margin-top: 25px;
}

ol {
	-webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    padding-inline-start: 0px;
    column-gap: 1.5em;
    list-style-position: inside;
}

/*==========  Media Queries  ==========*/

/* Larger than mobile */
@media (min-width: 400px) {

	body {
		padding: 150px 0px;
		font-size: 25px;
	}

	h1 {
		margin-top: 60px;
		margin-bottom: 50px;
	}

	.logo {
		width: 180px;
	}

	.backarrow {
		padding-bottom: 75px;
	}

	ol {
		-webkit-column-count: 2;
	    -moz-column-count: 2;
	    column-count: 2;
	}

	.archivelist {
		font-size: 0.5em;
	}

	figure {
		margin: 60px auto;
	}

}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {

	.mobilehide {
		display: block;
	}

	.tabledata {
		margin-top: 0px;
	}

	ol {
		-webkit-column-count: 3;
	    -moz-column-count: 3;
	    column-count: 3;
	}	

}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


