/*
Myers Design Co.
*/

/*==========  TYPOGRAPHY  ==========*/

body {
	font: 400 16px/24px "Chivo";
	background-color: white;
	color: #1f1f1f;
}

h1 { /*hello!*/
	font-size: 1em;
	font-weight: 900;
	margin-bottom: 0.34em;
}

h2 { /*project names*/
	font-weight: 400;
	margin-bottom: 40px; padding-top: 4px;
}

h3 { /*project subtext and footer headers*/
	font-size: 0.75em;
	line-height: 0.5em;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	margin-top: 30px;
}

p {
	line-height: 2em;
	width: 95%;
}

a, a:active, a:visited, .navbar-default .navbar-nav>li>a {
 	border-bottom: 1px solid #1f1f1f;
 	color: #1f1f1f;
	padding-bottom: 1px;
	text-decoration: none;
	transition: color .3s, border-bottom .3s;
}

a:hover {
	color: #275fe3;
	border-bottom: 1px solid #275fe3;
	text-decoration: none;
}

li {
	display: inline-block;
	margin-right: 20px;
}

strong {
	font-weight: 700;
}

/*==========  STRUCTURE  ==========*/

.maxwidth {
	max-width: 95%;
	margin: 0px auto; 
	padding: 0px;
}

.fullwidth {
	width: 100%;
}

.container {
	padding: 10px 0px;
}

.padding-0 {
	padding: 0;
}

.mobilehide {
	display: none;
}

.mobileonly {
	display: block;
}

.tablethide {
	display: none;
}

/*==========  Navigation and Hero  ==========*/

.hero {
	padding: 10px 0px;
}

.navigator {
	padding: 40px 10px 0px 0px;
	background-color: #EDEDED;
}

.navbar {
	border: none;
	border-radius: 0px;
	margin: 10px auto 10px auto;
}

.navbar-collapse {
	padding: 0px;
	margin: 0px auto;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0;
}

.navbar-toggle {
    z-index:3;
    margin-right: 0px;
    padding-right: 0px;
}

.navbar-default .navbar-toggle {
	border: 0;
}

.navbar-default {
	background-color: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>li>a {
	text-decoration: none;
	border-bottom: none;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #275fe3;
}

.navlogo {
	width: 60px;
	margin-top: -85px;
	margin-left: 0px;
}

.navbar-left a {
	border-bottom: none;
}

.navbar-left a:hover {
	border-bottom: none;
	text-decoration: none;
}

/*==========  Content  ==========*/

.portfolio {
	/*background-color: #7F7F7F;*/
}

.portfolio h3 {
	color: black;
}

.portfolio a {
	font-weight: 400;
}

.portfolio a:hover {

}

.portfolio img {
	width: 100%;
}

/*==========  Footer ==========*/

.footer {
	padding: 10px 0px 50px 0px;
	/*background-color: #393939;*/
}

.footer li {
	display: inline;
	margin-bottom: 10px;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	.maxwidth {
		max-width: 800px;
		margin: 10px auto;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	.mobilehide {
		display: block;
	}

	.mobileonly {
		display: none;
	}

	.second-column {
		margin-top: 0px;
	}

	.navigator {
		padding: 60px 0px 10px 0px;
	}

	h2 {
		margin-top: 0px;
	}

    .navlogo {
		margin-top: 0px; margin-left: -20px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

	.tablethide {
		display: block;
	}

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1300px) {


	
}