/*
Myers Design Co.
*/

/*==========  TYPOGRAPHY  ==========*/

body {
	font: 400 20px/1.7em "Work Sans";
	background-color: #f6f6f6;
	color: #1c1c1c;
}

h1 { /*hello!*/
	font-size: 1em;
	font-weight: 700;
}

h2 { /*project names*/
	font-weight: 700;
	margin: 0px 0px 50px 0px; 
	font-size: 2em;
}

h3 { /*project subtext and footer headers*/
	font-size: 0.8em;
	line-height: 0.5em;
	margin: 10px 0px 20px 0px;
	text-transform: uppercase;
	letter-spacing: 0.4px;
}

p {
	width: 95%;
}

a, a:active, a:visited, a:focus .navbar-default .navbar-nav>li>a {
 	border-bottom: 1px solid #000000;
 	color: #1c1c1c;
	padding-bottom: 1px;
	text-decoration: none;
	transition: color .3s, border-bottom .3s;
}

a:hover, .navbar-default .navbar-nav>li>a:hover {
	color: #145bff;
	border-bottom: 1px solid #145bff;
	text-decoration: none;
}

ul {
	padding-left: 0;
}

li {
	display: block;
	margin-right: 15px;
}

strong {
	font-weight: 700;
}

/*==========  STRUCTURE  ==========*/

.maxwidth {
	max-width: 90%;
	margin: 0px auto; 
	padding: 0px;
}

.fullwidth {
	width: 100%;
	margin: 0px auto;
	padding: 25px;
}

.container {
	padding: 10px 0px;
}

.padding-0 {
	padding: 0;
}

.mobilehide {
	display: none;
}

.mobileonly {
	display: block;
}

.tablethide {
	display: none;
}

.second-column {
	margin-top: 50px;
}

/*==========  Navigation and Hero  ==========*/

.hero {
	padding: 10px 0px;
}

.navigator {
	padding: 40px 10px 0px 0px;
}

.navbar {
	border: none;
	border-radius: 0px;
	margin-bottom: 0px;
}

.navbar-collapse {
	padding: 0px;
	margin: 0px auto;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0;
}

.navbar-toggle {
    z-index:3;
    margin-right: 0px;
    padding-right: 0px;
}

.navbar-default .navbar-toggle {
	border: 0;
}

.navbar-default {
	background-color: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>li>a {
	text-decoration: none;
	border-bottom: none;
}

.navbar-default .navbar-nav>li>a {
	color: #1c1c1c;
}

.navlogo {
	width: 60px;
	margin-top: -85px;
	margin-left: 5px;
}

.navbar-left a {
	border-bottom: none;
}

.navbar-left a:hover {
	border-bottom: none;
	text-decoration: none;
}

/*==========  Content  ==========*/

.introduction {
	padding-top: 50px;
}

.portfolio {
	padding-top: 50px;
}

/*==========  Footer ==========*/

.footer {
	padding-bottom: 50px;
}

.footer li {
	margin-bottom: 10px;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

	body {
		font-size: 18px;
		padding-top: 50px;
	}
	
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	.maxwidth {
		max-width: 600px;
		margin: 10px auto;
	}

	.mobilehide {
		display: block;
	}

	.mobileonly {
		display: none;
	}

	.second-column {
		margin-top: 0px;
	}

	.navigator {
		padding: 0px 0px 10px 0px;
	}

    .navlogo {
		margin-top: -5px; margin-left: -10px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

	.tablethide {
		display: block;
	}

	.maxwidth {
		max-width: 800px;
		margin: 10px auto;
	}

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1300px) {


	
}


