/*
Myers Design Co.
*/

/*==========  Typography  ==========*/

body {
	font: 400 20px/1.7em "halyard-display";
	background-color: #242120;
	color: #BAB6B1;
	padding-top: 30px;
	padding-bottom: 30px;
}

h1 {
	font-size: 1em;
	font-weight: 700;
	color: white;
	margin-top: 50px;
}

a, a:active, a:visited, a:focus .navbar-default .navbar-nav>li>a {
 	color: #dab187;
	text-decoration: none;
	transition: color .3s;
	font-weight: 700;
}

a:hover, .navbar-default .navbar-nav>li>a:hover {
	color: white;
	text-decoration: none;
}

strong {
	font-weight: 700;
	color: white;
}

/*==========  Structure  ==========*/

.maxwidth {
	max-width: 95%;
	margin: 0px auto; 
	padding: 0px;
}

.fullwidth {
	width: 100%;
	margin: 0px auto;
	padding: 10px;
}

.container {
	padding: 10px 0px;
}

.mobilehide {
	display: none;
}

.mobileonly {
	display: block;
}

.tablethide {
	display: none;
}

/*==========  Tables  ==========*/

.tablelabel {
	font-weight: 400;
	font-size: 1em;
	color: #bab6b1;
	margin-bottom: 0px;
}

.tabledata {
	font-weight: 400;
	font-size: 1em;
	color: white;
	margin-bottom: 25px;
}

/*==========  Navigation and Hero  ==========*/

.navlogo {
	width: 60px;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

	body {
		font-size: 18px;
		padding-top: 75px;
		padding-bottom: 75px;
	}
	
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	.maxwidth {
		max-width: 700px;
		margin: 10px auto;
	}

	.mobilehide {
		display: block;
	}

	.mobileonly {
		display: none;
	}

	.tabledata {
		margin-bottom: 0px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

	.tablethide {
		display: block;
	}

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1300px) {


	
}


