/*
Myers Design Co.
*/

/*==========  Structure  ==========*/

body {
	font: 400 22px/1.7em "Basier";
	background-color: #f2f2f2;
	color: #45423f;
	padding: 0px;
}

.container {
	border: none;
	width: 95%;
	max-width: 1200px;
	padding-top: 20px;
}

.content {
	float: left;
	width: 100%;
	max-width: 900px;
	padding: 30px 0px;
}

.mobilehide {
	display: none;
}

.mobileshow {
	display: block;
}

/*==========  Typography  ==========*/

h1 { /*homepage name*/
	font-weight: 400;
	font-family: "Zodiak";
	font-size: 1em;
	margin: 40px 0px;
	color: #45423f;
}

h2 { /*portfolio project title*/
	font-family: "Zodiak";
	font-weight: 400;
	font-size: 2em;
	margin-top: 25px;
}

h3 { /*portfolio project classification*/
	font-size: 0.8em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	margin-top: 0px;
	color: #c9c9c9;
}

p {
	margin-block-end: 0.35em;
}

a, a:active, a:visited, a:focus .navbar-default .navbar-nav>li>a {
 	color: white;
 	font-weight: 400;
	text-decoration: none;
	transition: color .4s, border-bottom .4s;
	border-bottom: 1.5px solid white;
}

a:hover, .navbar-default .navbar-nav>li>a:hover {
	color: #0074FD;
	border-bottom: 1.5px solid #0074FD;
	text-decoration: none;
}

.nounderline, .nounderline:hover {
	border-bottom: none;
}

/*==========  Navigation and Hero  ==========*/

.logo {
	width: 45px;
	margin-left: 37px;
	margin-bottom: 50px;
}

.backarrow {
	padding: 25px 0px;
}

/*==========  Interior Pages  ==========*/

figure {
	width: 100%;
	margin: 30px auto;
}

figure img {
	width: 100%;
}

figcaption {
	line-height: 1.4em;
	font-size: 0.7em;
	margin-top: 20px;
	color: #828282;
}

.archivelist {
	font-size: 0.8em;
	line-height: 1.5em;
	margin-top: 25px;
}

ol {
	-webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    padding-inline-start: 0px;
    column-gap: 1.5em;
    list-style-position: inside;
}

/*==========  Media Queries  ==========*/

/* Larger than mobile */
@media (min-width: 400px) {

	body {
		padding: 15px 0px;
	}

	.backarrow {
		padding-bottom: 75px;
	}

	ol {
		-webkit-column-count: 2;
	    -moz-column-count: 2;
	    column-count: 2;
	}

	.archivelist {
		font-size: 0.5em;
	}

	figure {
		margin: 60px auto;
	}

	p {
		margin-block-end: 0.6em;
	}

}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {

	.container {
		padding: 20px;
	}

	.mobilehide {
		display: block;
	}

	.mobileshow {
		display: none;
	}

}

/* Larger than tablet */
@media (min-width: 750px) {

	body {
		padding: 100px 0px;
	}
	
	ol {
		-webkit-column-count: 3;
	    -moz-column-count: 3;
	    column-count: 3;
	}	

}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/*Dark Mode!*/

body {
	background-color: #131414;
	color: #AAB2BD;
}

h1, h2 {
	color: white;
}

h3, figcaption {
	color: #696969;
}

h1, h2, h3, figcaption {
}
