/*
Myers Design Co.
*/

/*==========  Typography  ==========*/

body {
	font: 400 21px/1.7em "DM Mono";
	background-color: #e4e4e4;
	color: #45423f;
	padding: 25px 0px;
}

h1 {
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 700;
	margin-top: 0px;
}

h2 {
	font-size: 2em;
	font-weight: 900;
	margin-top: 25px;
}

h3 {
	font-size: 0.8em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	margin-top: 0px;
	color: #bebebe;
}

h4 {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 0.8em;
}

p {
	margin-block-end: 0.25em;
}

a, a:active, a:visited, a:focus .navbar-default .navbar-nav>li>a {
 	color: #45423f;
 	font-weight: 700;
	text-decoration: none;
	transition: color .3s;
	border-bottom: 2px solid white;
}

a:hover, .navbar-default .navbar-nav>li>a:hover {
	color: #1c6ced;
	text-decoration: none;
}

.iso {
	margin-bottom: 20px;
	font-weight: 700;
}

/*==========  Structure  ==========*/

.mobilehide {
	display: none;
}

.mobileshow {
	display: block;
}

hr {
	border-top: 2px solid white;
}

/*==========  Navigation and Hero  ==========*/

.floatright {
	text-align: right;
}

.logo {
	width: 120px;
	margin-left: -5px;
	margin-bottom: 30px;
}

.backarrow {
	padding: 25px 0px;
}

/*==========  Interior Pages  ==========*/


figure {
	width: 100%;
	margin: 30px auto;
}

figure img {
	width: 100%;
}

figcaption {
	line-height: 1.4em;
	font-size: 0.7em;
	margin-top: 20px;
	color: #828282;
}

.archivelist {
	font-size: 0.8em;
	line-height: 1.5em;
	margin-top: 25px;
}

ol {
	-webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    padding-inline-start: 0px;
    column-gap: 1.5em;
    list-style-position: inside;
}

/*==========  Media Queries  ==========*/

/* Larger than mobile */
@media (min-width: 400px) {

	.logo {
		width: 180px;
	}

	.backarrow {
		padding-bottom: 75px;
	}

	ol {
		-webkit-column-count: 2;
	    -moz-column-count: 2;
	    column-count: 2;
	}

	.archivelist {
		font-size: 0.5em;
	}

	figure {
		margin: 60px auto;
	}

}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {

	body {
		padding: 100px 0px;
	}

	.mobilehide {
		display: block;
	}

	.mobileshow {
		display: none;
	}

}

/* Larger than tablet */
@media (min-width: 750px) {

	ol {
		-webkit-column-count: 3;
	    -moz-column-count: 3;
	    column-count: 3;
	}	

}

/* Larger than desktop */
@media (min-width: 1000px) {

	.logo {
		margin-top: 10px;
		margin-left: -30px;
	}

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


