/*
Myers Design Co.
*/

/*==========  Typography  ==========*/

body {
	font: 400 20px/1.7em "Be Vietnam Pro";
	font-feature-settings: "ss01" 1;
	background-color: #f2f2f2;
	color: #45423f;
	padding-top: 20px;
	padding-bottom: 20px;
}

h1 {
	font-size: 1em;
	color: black;
	font-weight: 700;
	margin-top: 50px;
}

h2 {
	font-size: 2.5em;	
	color: black;
	font-weight: 900;
	margin-top: 25px;
}

h3 {
	font-size: 0.8em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	margin-top: 0px;
	color: #828282;
}

a, a:active, a:visited, a:focus .navbar-default .navbar-nav>li>a {
 	color: black;
	text-decoration: none;
	transition: color .3s;
	font-weight: 700;
}

a:hover, .navbar-default .navbar-nav>li>a:hover {
	color: blue;
	text-decoration: none;
}

strong {
	font-weight: 700;
	color: black;
}

/*==========  Structure  ==========*/

.maxwidth {
	max-width: 95%;
	margin: 10px auto; 
	padding: 0px;
}

.fullwidth {
	width: 100%;
	margin: 0px auto;
	padding: 10px;
}

.container {
	padding: 10px 0px;
}

.mobilehide {
	display: none;
}

.mobileonly {
	display: block;
}

.tablethide {
	display: none;
}

.portfolioheader {
	margin-top: 50px;
	margin-bottom: 20px;
}

/*==========  Tables  ==========*/

.tablelabel {
	font-size: 1em;
	color: #45423f;
	margin-bottom: 0px;
}

.tabledata {
	font-size: 1em;
	color: #45423f;
	margin-bottom: 25px;
}

/*==========  Navigation and Hero  ==========*/

.navlogo {
	width: 60px;
}

.homelogo {
	width: 60px;
	margin-left: -10px;
}

/*==========  Navigation and Hero  ==========*/

figure {
	width: 100%;
	margin: 70px auto;
}

figure img {
	width: 100%;
}

figcaption {
	line-height: 1.4em;
	font-size: 0.8em;
	margin-top: 20px;
	color: #828282;
}


/*==========  Mobile First Method  ==========*/


/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

	body {
		font-size: 18px;
		padding-top: 75px;
		padding-bottom: 75px;
	}
	
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	.maxwidth {
		max-width: 700px;
	}

	.mobilehide {
		display: block;
	}

	.mobileonly {
		display: none;
	}

	.tabledata {
		margin-bottom: 0px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

	.tablethide {
		display: block;
	}

}


