/*
Myers Design Co.

Colors
Gray 1 - E9E9E9
Gray 2 - C7C6C6
Gray 3 - 5F5B5B
Gray 4 - 2D2D2D

Gold - CBA98E
Red - F27B64
Yellow - EFCA6E
Blue - 336BEB
*/

/*==========  Structure  ==========*/

body {
	font-family: "Basier";
	font-weight: 400;
	font-size: 19px;
	line-height: 1.7em; 
	background-color: white;
	color: #2D2D2D;
	max-width: 600px;
	padding: 0px 20px;
	margin: 0px auto;
}

header, article, figure, footer {
	padding: 15px 0px;
}

footer {
	margin-top: 50px;
}

.mobilehide {
	display: none;
}

.mobileshow {
	display: block;
}

/*==========  Typography  ==========*/

h1 { /*homepage titles*/
	font-weight: 700;
	font-size: 1em;
	margin: 40px 0px;
}

h2 { /*portfolio project title*/
	font-weight: 700;
	font-size: 1.2em;
	margin-top: 25px;
	margin-block-end: 0em;
}

h3 { /*portfolio project classification*/
	font-weight: 400;
	font-size: 0.8em;
	font-style: italic;
	margin-top: 0px;
	color: #5F5B5B;
}

h1.masthead {
	text-transform: uppercase;
}

p {
	margin-block-end: 1em;
}

a, a:active, a:visited, a:focus {
 	color: #2D2D2D;
	border-bottom: 1.75px solid #2D2D2D;
 	font-weight: 400;
	text-decoration: none;
	transition: color .4s, border-bottom .4s;	
}

a:hover {
	color: #336BEB;
	border-bottom: 1.75px solid #336BEB;
	text-decoration: none;
}

footer p {
	font-size: 0.8em;
	color: #5F5B5B;
	text-transform: uppercase;
}

footer p a, footer p a:active, footer p a:visited {
	color: #5F5B5B;
	border-bottom: 1.75px solid #5F5B5B;
}

.nounderline, .nounderline:hover {
	border-bottom: none;
}

/*==========  Navigation and Hero  ==========*/

.logo {
	width: 50px;
	margin: 20px 0px 0px 2px;
	rotate: 90deg;
}

.backarrow {
	padding: 0px 0px 25px 0px;
}

/*==========  Interior Pages  ==========*/

figure {
	width: 100%;
	margin: 10px auto;
}

figure img {
	width: 100%;
	border-radius: 4px;
}

figcaption {
	font-size: 0.75em;
	line-height: 1.4em;
	font-style: italic;
	margin-top: 20px;
	color: #5F5B5B;
}

.archivologos {
	filter: brightness(0) saturate(100%) invert(0%) sepia(4%) saturate(0%) hue-rotate(337deg) brightness(100%) contrast(107%);
}

/*==========  Media Queries  ==========*/

/* Larger than mobile */
@media (min-width: 400px) {

	body {
		padding: 20px 0px;
	}

	header, article, figure, footer {
		padding: 30px 0px;
	}

	.logo {
		margin-bottom: 40px;
	}

	.backarrow {
		padding-bottom: 75px;
	}

	figure {
		margin: 50px auto;
	}

}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {

	.mobilehide {
		display: block;
	}

	.mobileshow {
		display: none;
	}

}

/* Larger than tablet */
@media (min-width: 750px) {

	body {
		font-size: 18px;
		padding: 200px 0px;
	}

}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
/*
body {
	background-color: #131414;
	color: #AAB2BD;
}

h1, h2 {
	color: white;
}

h3, figcaption {
	color: #696969;
}

h1, h2, h3, figcaption {
}

a, a:active, a:visited, a:focus .navbar-default .navbar-nav>li>a {
 	color: white;
	border-bottom: 1.5px solid white;
}

a:hover, .navbar-default .navbar-nav>li>a:hover {
	color: #0074FD;
	border-bottom: 1.5px solid #0074FD;
}
*/
