/*
Myers Design Co.

Colors
Gray 1 - E9E9E9
Gray 2 - C7C6C6
Gray 3 - 5F5B5B
Gray 4 - 2D2D2D

Gold - CBA98E
Red - F27B64
Yellow - EFCA6E
Blue - 336BEB
*/

/*==========  Structure  ==========*/

body {
	background-color: #f8f8f8;
	background-image: none;
	color: #9c9c9c;
	max-width: 600px;
	padding: 15px;
	font-family: "halyard-text";
	font-weight: 400;
	font-size: 17px;
	line-height: 1.8em; 
}

header {
	margin-top: 0px;
	margin-bottom: 75px;
}

section {
	margin-top: 10px;
	margin-bottom: 75px;
}

header a, header a:visited, .portfoliolinks a, .portfoliolinks a:visited, .portfoliolinks {
	color: #9c9c9c;	
}

.headerlogo {
	width: 40px;
	margin-top: 5px;
	margin-bottom: 50px;
}

.grid {
	display: grid;
 	grid-template-columns: 1fr;
 	margin-bottom: 24px;
}

.label {
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: 400;
}

.rowbreak {
	margin-bottom: 20px;
}

.mobilehide {
	display: none;
}

.mobileshow {
	display: block;
}

/*==========  Typography  ==========*/

h1 {
	color: #9c9c9c;
	font-weight: 400;
	font-size: 1em;
}

h2 {
	font-weight: 700;
	font-size: 1em;
	margin: 20px 0px;
}

h3 {
	font-weight: 400;
	font-style: italic;
	margin-top: 0px;
	color: #6a6969;
}

h4 {
	color: #336BEB;
	font-size: 1em;
	font-weight: 400;
	margin-top: 0px;
}

p {
	margin-block-end: 1em;
	color: black;
}

a, a:active, a:visited, a:focus {
 	color: black;
 	font-weight: 400;
	text-decoration-thickness: 0.5px;
    text-underline-offset: 0.1em;
    transition: color 500ms;
}

a:hover {
	color: #336BEB;
}

.nounderline, .nounderline:hover {
	border-bottom: none;
	text-decoration: none;
}

strong {
	color: black;
	font-weight: 400;
}

strong.interiortitle {
	color: black;
}

.subtitle {
	font-size: 0.9em;
}

/*==========  Interior Pages  ==========*/

figure {
	width: 100%;
	margin: 75px auto;
}

figure img {
	width: 100%;
	border-radius: 10px;
}

figcaption {
	font-family: "Courier Prime";
	font-style: italic;
	font-size: 0.8em;
	line-height: 1.4em;
	font-style: italic;
	margin-top: 20px;
	color: #5F5B5B;
}

.logogrid {
	display: grid;
 	grid-template-columns: 1fr 1fr 1fr;
}

.logogrid figure {
	margin-top: 25px;
}

.archivologos {
	filter: brightness(0) saturate(100%) invert(0%) sepia(4%) saturate(0%) hue-rotate(337deg) brightness(80%) contrast(107%);
}

/*==========  Media Queries  ==========*/

@media (min-width: 400px) {

	body {
		font-size: 17px;
		padding: 50px;
	}

	header {
	}

	.headerlogo {
		margin-top: 0px;
		margin-bottom: 150px;
	}

}

@media (min-width: 550px) {

	.mobilehide {
		display: block;
	}

	.mobileshow {
		display: none;
	}

	.grid {
		grid-template-columns: 2fr 3fr;
		margin-bottom: 12px;
		column-gap: 1em;
	}

}

@media (min-width: 750px) {

	body {
		/*background-image: url(/img/logos/MDC_SiteBackground.svg);
    	background-position: top right;
    	background-repeat: no-repeat;*/
    	padding: 70px;
	}

}

@media (min-width: 1000px) {}
@media (min-width: 1200px) {}

/*Dark Mode*/
/*
body {
	background-color: #141414;
	color: #b0b0b0;
}

h1, h3, figcaption {
	color: #b0b0b0;
}

strong {
	color: #F8F6F5;
}

a, a:active, a:visited, a:focus .navbar-default .navbar-nav>li>a {
 	color: #F8F6F5;
}

a:hover, .navbar-default .navbar-nav>li>a:hover {
	color: #0074FD;
}

header a, header a:visited, .portfoliolinks a, .portfoliolinks a:visited, .portfoliolinks {
	color: #b0b0b0;	
}

header a:hover, .portfoliolinks a:hover {
	color: #F8F6F5;	
}

p {
	color: #F8F6F5;
}
*/
