:root {
	--blue: #336BEB;
	--yellow: #EFCA6E;
	--gold: #CBA98E;
	--red: #F27B64;
	--deemphasized: #727272;
	--neutral: #5F5B5B;
	--emphasized: #000000;
	--sans: "Bricolage Grotesque";
	--mono: "Courier Prime";
}

/*==========  Structure  ==========*/

body {
	color: var(--emphasized);
	font-family: var(--sans);
	background-color: white;
	font-weight: 400;
	padding: 15px;
	font-size: 17px;
	line-height: 1.8em; 
}

header {
	margin: 0px 0px 25px 0px;
}

.headerlogo {
	width: 45px;
	margin-top: 5px;
	margin-bottom: 50px;
	float: none;
}

header h1 {
	margin-top: 0px;
	float: none;
}

.herotext {
	font-size: 2em;
	line-height: 1em;
	color: white;
	font-weight: 700;
}

.nav {
	margin-top: 15px;
	float: none;
}

.nav a {
	font-family: var(--sans);
	font-size: 1em;
	padding-right: 20px;
	font-weight: 400;
}

section {
	margin-top: 10px;
	margin-bottom: 50px;
	max-width: 700px;
}

header a, header a:visited {
	color: var(--gold);	
}

.portfoliolinks a, .portfoliolinks a:visited, .portfoliolinks {
	color: var(--gold);
}

.grid {
	display: grid;
 	grid-template-columns: 1fr;
 	margin-bottom: 24px;
}

.floatleft {
	float: left;
	width: 40%;
}

.floatright {
	float: right;
	width: 50%;
	background-color: #CBA98E;
	height: 85vh;
}

.label {
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-family: var(--sans);
	color: var(--deemphasized);
	font-size: 0.75em;
}

.title {
	color: var(--deemphasized);
}

.rowbreak {
	margin-bottom: 30px;
}

.mobilehide {
	display: none;
}

.mobileshow {
	display: block;
}

/*==========  Typography  ==========*/

h1, h2, h3 {
	font-size: 1em;
}

h1, h2 {
	font-weight: 700;
	font-family: var(--sans);
	font-size: 1em;
}

h1 {
	color: var(--emphasized);
	margin-bottom: -10px;
}

h2 {
	margin: 20px 0px;
}

h3 {
	color: var(--deemphasized);
	font-weight: 400;
	margin-top: 0px;
}

p {
	color: var(--emphasized);
	margin-block-end: 1em;
}

a, a:active, a:visited, a:focus {
 	color: var(--emphasized);
	text-decoration-thickness: 1.25px;
    text-underline-offset: 0.3em;
    transition: color 500ms;
}

a:hover {
	color: var(--gold);
}

.nounderline, .nounderline:hover {
	border-bottom: none;
	text-decoration: none;
}

strong {
	color: var(--emphasized);
	font-weight: 600;
}

/*==========  Interior Pages  ==========*/

figure {
	width: 100%;
	margin: 75px auto;
}

figure img {
	width: 100%;
	border-radius: 10px;
}

figcaption {
	color: var(--gold);
	font-family: var(--sans);
	font-size: 0.75em;
	line-height: 1.4em;
	margin-top: 10px;
	margin-left: 20px;
}

.logogrid {
	display: grid;
 	grid-template-columns: 1fr 1fr 1fr;
}

.logogrid figure {
	margin-top: 25px;
}

.archivologos {
	filter: brightness(0) saturate(100%) invert(0%) sepia(4%) saturate(0%) hue-rotate(337deg) brightness(80%) contrast(107%);
}

/*==========  Media Queries  ==========*/

@media (min-width: 400px) {

	:root {
		--regular: 400;
	}


	body {
		padding: 50px;
		font-size: 16px;
	}

	.herotext {
		font-size: 4em;
	}

	.nav a {
		font-size: 1em;
	}

	section {
		margin-bottom: 75px;
	}

}

@media (min-width: 550px) {

	.mobilehide {
		display: block;
	}

	.mobileshow {
		display: none;
	}

	.grid {
		grid-template-columns: 1fr 2fr;
		margin-bottom: 12px;
		column-gap: 1em;
	}

}

@media (min-width: 750px) {

	body {
    	padding: 75px;
	}

}

@media (min-width: 1000px) {}
@media (min-width: 1200px) {}

/*
:root {
	--deemphasized: #9c9c9c;
	--neutral: #EFCA6E;
	--emphasized: #F8F6F5;
}

body {
	background-color: #141414;
	color: var(--neutral);
}

h1, h3, figcaption {
	color: var(--neutral);
}

h1, strong, p, .label, a, a:active, a:visited, a:focus, header a:hover, .portfoliolinks a:hover {
	color: var(--emphasized);
}

.portfoliolinks a, .portfoliolinks a:visited, .portfoliolinks {
	color: var(--neutral)
}

a:hover {
	color: var(--emphasized);
}

header a, header a:visited {
	color: var(--neutral);	
}

.archivologos {
	filter: brightness(1) saturate(100%) invert(0%) sepia(4%) saturate(0%) hue-rotate(337deg) brightness(80%) contrast(107%);
}
*/

