@font-face {
    font-family: 'Basier';
    src: url('/fonts/basier/basiersquare-bold-webfont.woff2') format('woff2'),
         url('/fonts/basier/basiersquare-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Basier';
    src: url('/fonts/basier/basiersquare-regular-webfont.woff2') format('woff2'),
         url('/fonts/basier/basiersquare-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Zodiak';
    src: url('/fonts/zodiak/Zodiak-Black.woff2') format('woff2'),
         url('/fonts/zodiak/Zodiak-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Zodiak';
    src: url('/fonts/zodiak/Zodiak-Bold.woff2') format('woff2'),
         url('/fonts/zodiak/Zodiak-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Zodiak';
    src: url('/fonts/zodiak/Zodiak-Regular.woff2') format('woff2'),
         url('/fonts/zodiak/Zodiak-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}