@font-face {
    font-family: 'Courier Prime Sans';
    src: url('/fonts/courier_prime_sans-webfont.woff2') format('woff2'),
         url('/fonts/courier_prime_sans-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Courier Prime Sans';
    src: url('/fonts/courier_prime_sans_italic-webfont.woff2') format('woff2'),
         url('/fonts/courier_prime_sans_italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Courier Prime Sans';
    src: url('/fonts/courier_prime_sans_bold-webfont.woff2') format('woff2'),
         url('/fonts/courier_prime_sans_bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Basier';
    src: url('/fonts/basiersquare-bold-webfont.woff2') format('woff2'),
         url('/fonts/basiersquare-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Basier';
    src: url('/fonts/basiersquare-semibold-webfont.woff2') format('woff2'),
         url('/fonts/basiersquare-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Basier';
    src: url('/fonts/basiersquare-regular-webfont.woff2') format('woff2'),
         url('/fonts/basiersquare-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Zodiak';
    src: url('/fonts/Zodiak-Black.woff2') format('woff2'),
         url('/fonts/Zodiak-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Zodiak';
    src: url('/fonts/Zodiak-Regular.woff2') format('woff2'),
         url('/fonts/Zodiak-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}