/*
Parker Myers
-- no6 --
October 16, 2015
*/

/*

	181D23 - midnight (navy)
	2d2f3b - ink (dark gray)
	5d606b - slate (medium gray)
	559F74 - sour (green)
	E56465 - sweet (pink)
	d6b27a - varsity (gold)

*/

/*==========  TYPOGRAPHY  ==========*/

body, html, h1, h2, h3, p, ul, li {
	background-color: white;
	color: #888;
	font-size: 16px;
	font-family: 'HK Grotesk';
	font-weight: 300;
	line-height: 1.5;
}

b, strong {
	font-weight: 500;
}

a {
 	color: #d6b27a;
	text-decoration: none;
 	/*background-image: linear-gradient(to bottom, rgba(0,0,0,0) 96%, rgba(0,0,0,0.2) 96%);
*/}

a:hover {
  	color: #888;
  	border-bottom: none;
  	text-decoration: none;
}

a:active, a:visited {
	text-decoration: none;
  	color: #d6b27a;
}

/*==========  STRUCTURE  ==========*/

.maxwidth {
	max-width: 1200px;
	margin: 10px auto 30px auto;
}

/*==========  BANNER  ==========*/

.bannerlogo {
	width: 60px;
	margin-top: 15px;
}

.bannernav {
	margin-top: 20px;
	margin-left: -50px;
}

.bannernav a {
	list-style-type: none;
	text-decoration: none;
	font-weight: 700;
 	background-image: none;
}

.bannernav li {
	display: inline;
	width: 50px;
	padding: 10px;
}

.bannerblurb {
	max-width: 550px;
}

hr {
	margin-top: 40px;
	border-top: 1px solid #d7d7d7;
}

/*==========  PORTFOLIO  ==========*/

#portfolio img {
	width: 100%;
	margin-top: 20px;
}

figcaption {
	position: absolute;
	top: 25px;
	left: 25px;
	color: white;
	text-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/*==========  Javascript Styling  ==========*/

div.panel,h2.flip {
	display: block;
	background-color: #eeeeee;
}

div.panel {
	display: none;
 	background-color: #eeeeee;
 	padding: 20px;
 	max-width: 600px;
}

div.panel p {
	background-color: #eeeeee;
}

/*==========  TIM  ==========*/

.tim {
	width: 200px;
	transition: width 1s;
}

.tim:hover {
	width: 300px;
	border-radius: 5px;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {


	.maxwidth {
		margin-top: 30px;
	}

	.bannernav li {
		display: block;
		padding: 5px;
		margin-top: -5px;
	}

	.bannernav {
		margin-top: 10px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/*==========  Custom Fonts  ==========*/
@font-face {
    font-family: 'HK Grotesk';
    src: url('/fonts/hkgrotesk-bold-webfont.eot');
    src: url('/fonts/hkgrotesk-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/hkgrotesk-bold-webfont.woff2') format('woff2'),
         url('/fonts/hkgrotesk-bold-webfont.woff') format('woff'),
         url('/fonts/hkgrotesk-bold-webfont.ttf') format('truetype'),
         url('/fonts/hkgrotesk-bold-webfont.svg#hk_groteskbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('/fonts/hkgrotesk-light-webfont.eot');
    src: url('/fonts/hkgrotesk-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/hkgrotesk-light-webfont.woff2') format('woff2'),
         url('/fonts/hkgrotesk-light-webfont.woff') format('woff'),
         url('/fonts/hkgrotesk-light-webfont.ttf') format('truetype'),
         url('/fonts/hkgrotesk-light-webfont.svg#hk_grotesklight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('/fonts/hkgrotesk-medium-webfont.eot');
    src: url('/fonts/hkgrotesk-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/hkgrotesk-medium-webfont.woff2') format('woff2'),
         url('/fonts/hkgrotesk-medium-webfont.woff') format('woff'),
         url('/fonts/hkgrotesk-medium-webfont.ttf') format('truetype'),
         url('/fonts/hkgrotesk-medium-webfont.svg#hk_groteskmedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('/fonts/hkgrotesk-regular-webfont.eot');
    src: url('/fonts/hkgrotesk-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/hkgrotesk-regular-webfont.woff2') format('woff2'),
         url('/fonts/hkgrotesk-regular-webfont.woff') format('woff'),
         url('/fonts/hkgrotesk-regular-webfont.ttf') format('truetype'),
         url('/fonts/hkgrotesk-regular-webfont.svg#hk_groteskregular') format('svg');
    font-weight: 400;
    font-style: normal;
}