/*
Parker Myers
-- Post Meridian --
February 4, 2016
*/

/* COLORS
	
--Grayscale
dark ink - #2d2f39
dark slate - #5d616a
light slate - #9599a0
chalk - #e4e6ea
fade - #f2f2f2

--Accent Colors
red - #ef636a
blue - #3a64c1
bright blue - #5AA0EF
green - #46a17d
gold - #dab187
yellow - #ffdd79

*/

/*==========  TYPOGRAPHY  ==========*/

body {
	background-color: #f2f2f2;
	color: #5d616a;
	padding: 0px;
	font-family: 'HK Grotesk';
	font-weight: 400;
}

h2 {
	font-size: 18px;
	line-height: 24px;
	margin-top: 0px;
	font-weight: 700;
}

p {
	font-size: 16px;
	line-height: 1.75;
	color: #9599a0;
	width: 100%;
}

/*Link Color*/
a, a:active, a:visited {
	color: #dab187;
	text-decoration: none;
	transition: color .25s;
}

a:hover {
  	color: #2d2f39;
  	border-bottom: none;
  	text-decoration: none;
}

/*Underlined Headings*/
h1:after, h2:after, h3:after {
	width: 30px;
	height: 1px;
	background-color: #9599a0;
	content: " ";
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
}

/*==========  STRUCTURE  ==========*/

.introduction, #portfolio, #footer {
	padding: 20px;
}

/* center everything with a defined max-width */
.maxwidth {
	max-width: 800px;
	margin: 0px auto;
	background-color: white;
	padding: 0px;
}

.mobilehide {
	display: none;
}

.padding-0 {
	padding: 0;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: 1px solid #d7d7d7;
}

.icon, .icon:active, .icon:visited {
	padding: 5px;
	color: #9599a0;
	font-size: 22px;
	text-align: center;
}

.icon:hover {
	color: #2d2f39;
}

/*==========  NAVIGATION  ==========*/

.masthead {
	background-color: #f2f2f2;
	padding: 20px;
}

.navbar {
	border: none;
	border-radius: 0px;
	padding: 5px;
	margin: 0px auto;
}

.navbar-collapse {
	padding: 0px;
	margin: 0px auto;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0;
}

.navbar-toggle {
    z-index:3;
}

.navbar-default .navbar-toggle {
	border: 0;
}

.navbar-default {
	background-color: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>li>a {
	color: #5d616a;
	transition: color .25s;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: white;
}

#logo {
    color:#ffdd79; 
    padding: 10px;
    margin-top: -50px;
   	font-size: 22px;
   	line-height: 25px;
	font-weight: 700;
	font-family: 'HK Grotesk';
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#logo img {
	max-width: 40px;
	margin-top: -16px;
}

/*==========  DRIBBLEPLUG  ==========*/

.dribbbleplug {
	background-color: #ea4c89;
	padding: 10px;
}

.dribbbleplug p {
	color: white;
	text-align: center;
	font-size: 14px;
	line-height: 14px;
	margin-bottom: 0px;
}

/*==========  INTRODUCTION  ==========*/

.introduction {
	padding-top: 50px;
}

/*==========  PORTFOLIO  ==========*/

.col-xs-12, .col-sm-6 {
	padding: 0;
}

#portfolio img {
	width: 100%;
	padding: 0px 10px 10px 0px;
}

figcaption {
	position: absolute;
	top: 12px;
	left: 12px;
	color: white;
	text-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.portfoliotext {
	font-size: 18px;
	top: 40px;
	left: 40px;
	right: 40px;
	bottom: 40px;
}

/*==========  Footer ==========*/

.closingtime {
	margin-top: 40px;
}

/*==========  Javascript Styling  ==========*/

div.panel,h2.flip {
	display: block;
}

div.panel {
	display: none;
	max-width: 350px;
}

.flip {
	cursor:pointer;
	color: #dab187; 
	font-size: 16px;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	
	.portfoliotext {
		font-size: 32px;
	}
	
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
	.mobilehide {
		display: block;
	}

	body {
		padding: 10px;
	}
	
	.maxwidth {
		margin: 0px auto;
		padding: 0px;
		max-width: 1000px;
	}

	p {
		width: 90%;
	}
    
    #logo {
	    margin-top: 8px;
	    font-size: 28px;
    }
    
    #logo img {
	    margin-left: -10px;
	    max-width: 30px;
    }

	.masthead {
		padding: 20px 0px;
	}
    
    .portfoliotext {
	    font-size: 18px;
    }
	
	#portfolio, .introduction, #footer {
		padding: 50px;
	}
	
	.introduction {
		padding-top: 75px;
	}
	
	#footer {
		padding-top: 0px;
	}	
	
	.closing {
		margin-top: 0px;
	}
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	
	.closingtime {
		margin-top: 0px;
	}
	
	.maxwidth {
		margin: 50px auto;
	}
	
	.portfoliotext {
		font-size: 26px;
	}

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1400px) {
	
	.maxwidth {
		max-width: 1200px;
		margin: 150px auto;
	}
	
	.portfoliotext {
		font-size: 36px;
	}
	
	h2 {
		font-size: 21px;
	}
	
	p {
		font-size: 19px;
	}
	
	.navbar-right {
		font-size: 19px;
	}
	
}

/*==========  Custom Fonts  ==========*/

@font-face {
    font-family: 'HK Grotesk';
    src: url('/fonts/hkgroteskpro-regular-webfont.woff2') format('woff2'),
         url('/fonts/hkgroteskpro-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('/fonts/hkgroteskpro-black-webfont.woff2') format('woff2'),
         url('/fonts/hkgroteskpro-black-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}