/*
Parker Myers
-- Post Meridiana --
March 1, 2017
*/

/* COLORS
	
--Grayscale
dark ink - #2d2f39
dark slate - #5d616a
light slate - #9599a0
chalk - #e4e6ea
fade - #f2f2f2

--Accent Colors
red - #ef636a
blue - #3a64c1
bright blue - #5AA0EF
green - #46a17d
gold - #dab187
yellow - #ffdd79

*/

/*==========  TYPOGRAPHY  ==========*/

body {
	background-color: #efeeed;
	border: 10px solid #2d2f39;
	color: #5d616a;
	padding: 0px;
	margin: 0px;
	font-family: "HK Grotesk";
	font-weight: 400;
}

h1 {
	font-size: 45px;
	color: #2d2f39;
	font-weight: 700;
}

h2 {
	font-size: 18px;
	line-height: 24px;
	margin-top: 0px;
	font-weight: 700;
}

/*Underlined Headings*/
h2:after {
	width: 30px;
	height: 1px;
	background-color: #9599a0;
	content: " ";
	display: block;
	margin-top: 15px;
	margin-bottom: 35px;
}

.bannertext h3 a {
	font-weight: 400;
	color: #5d616a;
	font-size: 18px;
}

.bannertext h3 a:hover {
	color: #2d2f39;
}

p {
	font-size: 18px;
	line-height: 1.75;
	color: #5d616a;
	width: 100%;
}

/*Link Color*/
a, a:active, a:visited {
	color: #5d616a;
	text-decoration: none;
	transition: color .25s;
	font-weight: 700;
}

a:hover {
  	color: #5AA0EF;
  	border-bottom: none;
  	text-decoration: none;
}

.socialicons a {
	display: inline-block;
	margin-right: 10px;
}

::selection {
  background: black; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: black; /* Gecko Browsers */
}

/*==========  STRUCTURE  ==========*/

/* center everything with a defined max-width */
.maxwidth {
	max-width: 800px;
	margin: 0px 10px;
	padding: 0px;
}

#introduction, #featuredwork, #selectedworks, #footer {
	padding: 20px;
	margin: 20px 0px;
	background-color: white;
}

.mobilehide {
	display: none;
}

.padding-0 {
	padding: 0;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: 1px solid #d7d7d7;
}

/*==========  NAVIGATION  ==========*/

.masthead {
	padding: 10px;
}

.navbar {
	border: none;
	border-radius: 0px;
	padding: 20px;
	margin: 0px auto;
}

.navbar-right a {
	font-size: 16px;
	font-weight: 400;
}

.navbar-collapse {
	padding: 0px;
	margin: 0px auto;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0;
}

.navbar-toggle {
    z-index:3;
}

.navbar-default .navbar-toggle {
	border: 0;
}

.navbar-default {
	background-color: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>li>a {
	color: #2d2f39;
	transition: color .25s;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: #dab187;
}

#logo {
    color:#ffdd79; 
    padding: 10px;
    margin-top: -50px;
   	font-size: 22px;
   	line-height: 25px;
	font-weight: 700;
	font-family: 'HK Grotesk';
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#logo img {
	max-width: 35px;
	margin-top: -16px;
}

/*==========  INTRODUCTION  ==========*/

#introduction {
	padding-top: 50px;
}

/*==========  PORTFOLIO  ==========*/

.col-xs-12, .col-sm-6 {
	padding: 0;
}

#featuredwork img, #selectedworks img {
	width: 100%;
	padding: 0px 10px 10px 0px;
}

figcaption {
	position: absolute;
	top: 12px;
	left: 12px;
	color: white;
	text-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.portfoliotext {
	font-size: 18px;
	top: 40px;
	left: 40px;
	right: 40px;
	bottom: 40px;
}

/*==========  Footer ==========*/

.closingtime {
	margin-top: 40px;
}

/*  YELLOW  */
.bigtriangle {
	-webkit-clip-path: polygon(0 0, 82% 0, 0 100%, 0 100%);
	clip-path: polygon(0 0, 82% 0, 0 100%, 0 100%);
	background-color: #f9f9f9;
	position: absolute;
	height: 2000px;
	width: 100%;
	top: 0;
	z-index: -5;
}

/*  BLUE  */
.bigtriangle2 {
	-webkit-clip-path: polygon(0 49%, 0 3%, 75% 100%, 0 82%);
	clip-path: polygon(0 49%, 0 3%, 75% 100%, 0 82%);
	background-color: #B9B4B0;
	position: absolute;
	height: 4000px;
	width: 100%;
	top: 0;
	z-index: -3;
}

.bigtriangle3 {
	-webkit-clip-path: polygon(100% 6%, 60% 31%, 100% 100%);
	clip-path: polygon(100% 6%, 60% 31%, 100% 100%);
	background-color: #867E7B;
	position: absolute;
	height: 4000px;
	width: 100%;
	top: 0;
	z-index: -4;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	
	.portfoliotext {
		font-size: 32px;
	}
	
	.bigtriangle {
		height: 4000px;
	}
	
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
	body {
		border: 15px solid #2d2f39;
	}
	
	.mobilehide {
		display: block;
	}
	
	.maxwidth {
		margin: 0px auto;
		padding: 20px;
		max-width: 1000px;
	}

	#introduction, #featuredwork, #selectedworks, #footer {
		padding: 70px;
	}
	
	.masthead {
		padding: 10px 0px;
	}

	.bigtriangle {
		height: 3500px;
	}

	.bannertext {
		padding-top: 50px;
		padding-bottom: 100px;
	}

	.bannertext h3 a {
		font-size: 19px;
	}	

	p {
		width: 90%;
	}
    
    #logo {
	    margin-top: 10px;
	    font-size: 28px;
    }
    
    #logo img {
	    margin-left: -10px;
	    max-width: 45px;
    }
    
    .portfoliotext {
	    font-size: 18px;
    }

	.closingtime {
		margin-top: 0px;
	}
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	
	.maxwidth {
		margin: 30px auto;
	}

	.portfoliotext {
		font-size: 26px;
	}

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1400px) {
	
	.maxwidth {
		max-width: 1300px;
	}

	.navbar-right {
		font-size: 18px;
	}
	
	h2 {
		font-size: 21px;
	}
	
	p {
		font-size: 20px;
	}
	
	.bannertext {
		padding-top: 150px;
		padding-bottom: 150px;
	}
	
	.bannertext h1 {
		font-size: 96px;
	}
	
	.portfoliotext {
		font-size: 33px;
	}
	
}

/*==========  Custom Fonts  ==========*/

@font-face {
    font-family: 'HK Grotesk';
    src: url('/fonts/hkgroteskpro-regular-webfont.woff2') format('woff2'),
         url('/fonts/hkgroteskpro-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('/fonts/hkgroteskpro-black-webfont.woff2') format('woff2'),
         url('/fonts/hkgroteskpro-black-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}