/* 
	Simple Portfolio Page
	Parker Myers
	October 28, 2014
*/

/*==========  General  ==========*/

body {
	color: #44433f;
	/*background: url('/img/background1.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
  background-color: #EBEBEB;

}

.paper {
	margin: 0px auto;
	max-width: 550px;
	padding: 25px 60px 100px 60px;
	text-align: center;
	background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 5; 
}

hr {
	margin-top: 30px;
}

/*==========  Typography  ==========*/

h1, h2 {
	font-family: 'Mission Gothic', 'PT Sans', Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

h3, h4, ul, li, p  {
	font-family: 'Charter', 'PT Serif', Georgia, serif;
}

p {
	font-size: 1.15em;
	color: #44433f;
	text-align: left;
}

ul, li {
	list-style-type: none;
	font-size: 1em;
	padding: 0;
}

h1 /* Heading */{
	font-size: 1.5em;
	text-align: center;
}

h2 /* Section Subheads */{
	font-size: 1em;
	padding: 20px 0px 10px 0px;
 	text-align: left;
}

h3 /* Heading Compliment */{
	font-family: 'Charter';
  font-style: italic;
  font-size: 0.9em;
	text-align: center;
  margin-top: -5px;
}

h4 /* Portfolio Heads */ {
	font-family: 'Charter';
  font-style: italic;
  text-align: center;
	font-size: 1em;
	padding-top: 10px;
}

/*==========  Styling  ==========*/

a {
  font-family: 'Charter';
  color: #44433f;
  text-decoration: none;
  border-bottom: 1px solid #a1a1a1;
  -webkit-transition:color 0.5s, border-bottom 0.5s;
   transition:color 0.5s, border-bottom 0.5s;
}

a:hover {
  text-decoration: none;
  border-bottom: 1px solid #ff4a51;
}

a.image-border {
  border-bottom: none;
}

img {
	padding: 10px;
	margin: 0px auto;
	width: 45%;
}

.projectbutton {
  background-color: #FF4A51;
  color: white;
  width: 300px;
  margin: 0px auto;
  margin-top: -35px;
  padding: 5px 0px;
  font-family: 'Mission Gothic Bold';
  font-size: 0.9em;
  text-transform: uppercase;
}

.tinyicon {
	width: 40px;
	padding: 5px;
	opacity: .4;
	-webkit-transition: opacity 1s; /* Safari 3.1 to 6.0 */
    transition: opacity 1s;
}

.tinyicon:hover {
	opacity: 1.0;
}

#navlist ul {
	margin: 0px auto;
	width: 300px;
}

#navlist li {
	display: inline;
	list-style-type: none;
}

.logo {
	width: 75px;
	margin: 0px auto;
	text-align: center;
}

/*==========  Hover Effects  ==========*/

/* Buzz */
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


/* Icon Sink */
.hvr-icon-sink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-sink:before {
  content: "\f01a";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-sink:hover:before, .hvr-icon-sink:focus:before, .hvr-icon-sink:active:before {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}

/*==========  Javascript Styling  ==========*/

div.panel,h2.flip {
	display: block;
	background-color: white;
}

div.panel {
	display: none;
}


div.panel2,h2.flip2 {
	display: block;
	background-color: white;
}

div.panel2 {
	display: none;
}


div.panel3,h2.flip3 {
	display: block;
	background-color: white;
}

div.panel3 {
	display: none;
}


div.panel4,h2.flip4 {
	display: block;
	background-color: white;
}

div.panel4 {
	display: none;
}


/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
    
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }
    

@font-face {
    font-family: 'Mission Gothic';
    src: url('../fonts/mission_gothic_bold-webfont.eot');
    src: url('../fonts/mission_gothic_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mission_gothic_bold-webfont.woff2') format('woff2'),
         url('../fonts/mission_gothic_bold-webfont.woff') format('woff'),
         url('../fonts/mission_gothic_bold-webfont.ttf') format('truetype'),
         url('../fonts/mission_gothic_bold-webfont.svg#mission_gothicbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Charter';
    src: url('../fonts/charter_regular-webfont.eot');
    src: url('../fonts/charter_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/charter_regular-webfont.woff2') format('woff2'),
         url('../fonts/charter_regular-webfont.woff') format('woff'),
         url('../fonts/charter_regular-webfont.ttf') format('truetype'),
         url('../fonts/charter_regular-webfont.svg#charterregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Charter';
    src: url('../fonts/charter_italic-webfont.eot');
    src: url('../fonts/charter_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/charter_italic-webfont.woff2') format('woff2'),
         url('../fonts/charter_italic-webfont.woff') format('woff'),
         url('../fonts/charter_italic-webfont.ttf') format('truetype'),
         url('../fonts/charter_italic-webfont.svg#charteritalic') format('svg');
    font-weight: normal;
    font-style: italic;

}